<div class="item-list-container">
  <div class="item-tools">
    <div class="item-tools-col it-right">
      <button 
          id="addNewItemButton"
          (click)="addNewItem()"
        >
        Add item
      </button>
    </div>
    <div class="item-tools-col it-left">
      <button>Search items</button>
    </div>
  </div>
  <ng-container *ngIf="newItemMode">
    <div class="new-item-wrapper">
      <app-item-add-new
        (sendAddItem)="receiveAddItem($event)"
      >
    </app-item-add-new>
    </div>
  </ng-container>
  <table 
    *ngIf="itemData.length > 0"
    class="header-fixed rl-table">
    <thead class="rl-head">
      <tr class="rl-head-row">
        <th class="rl-th col-1">Date</th>
        <th class="rl-th col-2">Location</th>
        <th class="rl-th col-3">Total</th>
      </tr>
    </thead>
    <tbody class="rl-body">
      <tr 
        *ngFor="let item of itemData; let i = index"
        class="rl-body-row"
        (click)="setViewId(item.itemId)"
        >
        <td class="rl-td col-1">{{ item.DateOf | date:'fullDate' }}</td>
        <td class="rl-td col-2">{{ item.LocationTitle }}</td>
        <td class="rl-td col-3">{{ item.Amount | currency: 'USD' }}</td>
      </tr>
    </tbody>
  </table>
</div>