<div class="item-list-container">
  <div class="item-tools">
    <div class="item-tools-col it-right">
      <button 
          id="addNewItemButton"
          (click)="addNewItem()"
        >
        Add item
      </button>
    </div>
    <div class="item-tools-col it-left">
      <button>Search items</button>
    </div>
  </div>
  <ng-container *ngIf="newItemMode">
    <div class="new-item-wrapper">
      <app-item-add-new
        (sendAddItem)="receiveAddItem($event)"
      >
    </app-item-add-new>
    </div>
  </ng-container>
  <table 
    class="header-fixed il-table">
    <thead class="il-head">
      <tr class="il-head-row">
        <th class="il-th col-1">Item</th>
        <th class="il-th col-2">Date</th>
        <th class="il-th col-3">Location</th>
        <th class="il-th col-4">Last Price</th>
      </tr>
    </thead>
    <tbody class="il-body">
      <tr 
        *ngFor="let item of itemData; let i = index"
        class="il-body-row"
        (click)="setViewId(item.itemId)"
        >
        <td class="il-td col-1" [title]="(item.Information) ? item.Information : ''">{{ item.ItemTitle }}</td>
        <td class="il-td col-2">{{ item.LastDateOf | date:'mediumDate' }}</td>
        <td class="il-td col-3">{{ item.LastLocation }}</td>
        <td class="il-td col-4">{{ item.LastAmount | currency: 'USD' }}</td>
      </tr>
    </tbody>
  </table>
</div>