<!-- DateOf -->
<div class="filter-container">
  <div class="filter-input-label">
    <label for="filter-dateof">
      Date Of
    </label>
  </div>
  <div class="filter-row">
    <input
      id="filter-dateof"
      type="text"
      placeholder="dd/mm/yyyy"
      onfocus="(this.type='date')"
      [(ngModel)]="dateof"
      (change)="updateDateof($event)"
    >
    <button 
      *ngIf="dateof"
      class="reset-button"
      (click)="resetDateof()"
      >
      Reset
    </button>
  </div>
</div>

<!-- Date From -->
<div class="filter-container">
  <div class="filter-input-label">
    <label for="filter-datefrom">
      From Date
    </label>
  </div>
  <div class="filter-row">
    <input
      id="filter-fromdate"
      class="filter-input"
      type="text"
      placeholder="dd/mm/yyyy"
      onfocus="(this.type='date')"
      [(ngModel)]="datemin"
      (change)="updateDatemin($event)"
      >
    <button 
      *ngIf="datemin"
      class="reset-button"
      (click)="resetDatemin()"
      >
      Reset
    </button>
  </div>
</div>

<!-- Date To -->
<div class="filter-container">
  <div class="filter-input-label">
    <label for="filter-dateto">
      To Date
    </label>
  </div>
  <div class="filter-row">
    <input
      id="filter-dateto"
      type="text"
      placeholder="dd/mm/yyyy"
      onfocus="(this.type='date')"
      [(ngModel)]="datemax"
      (change)="updateDatemax($event)"
      >
    <button 
      *ngIf="datemax"
      class="reset-button"
      (click)="resetDatemax()"
      >
      Reset
    </button>
  </div>
</div>

<!-- Year -->
<div class="filter-container">
  <div class="filter-input-label">
    <label for="filter-year">
      Year
    </label>
  </div>
  <div class="filter-row">
    <select
      id="filter-year"
      tabindex="1004"
      [(ngModel)]="dateyear"
      >
      <option
        *ngFor="let year of yearList; let i = index;"
        [value]="year.Year"
        >{{ year.Year }}
      </option>
    </select>
    <button 
      *ngIf="dateyear"
      class="filter-button go-button"
      (click)="updateDateyear()"
      >
      Go
    </button>
    <button 
      *ngIf="dateyear"
      class="reset-button"
      (click)="resetDateyear()"
      >
      Reset
    </button>
  </div>
</div>
  
<!-- Month -->
<div class="filter-container">
  <div class="filter-input-label">
    <label for="filter-month">
      Month
    </label>
  </div>
  <div class="filter-row">
    <select
      id="filter-month"
      tabindex="1005"
      [value]="datemonth"
      >
      <!-- <option 
        *ngIf="datemonth === null"
        disabled 
        selected 
        hidden
        >Month...
      </option> -->
      <option>January</option>
      <option>February</option>
      <option>March</option>
      <option>April</option>
      <option>May</option>
      <option>June</option>
      <option>July</option>
      <option>August</option>
      <option>September</option>
      <option>October</option>
      <option>November</option>
      <option>December</option>
    </select>
    <button 
      *ngIf="datemonth"
      class="filter-button go-button"
      (click)="updateDatemonth()"
      >
      Go
    </button>
    <button 
      *ngIf="datemonth"
      class="reset-button"
      (click)="resetDatemonth()"
      >
      Reset
    </button>
  </div>
</div>

<!-- Account -->
<div class="filter-container">
  <div class="filter-input-label">
    <label for="filter-account">
      Account
    </label>
  </div>
  <div class="filter-row">
    <select
      id="filter-account"
      tabindex="1006"
      [(ngModel)]="accountid"
      >
      <option 
        selected="true" 
        style='display: none'
        >
      </option>
      <option
        *ngFor="let acc of accountData; let i = index;"
        [value]="acc.AccountId"
        >{{ acc.AccountTitle }}
      </option>
    </select>
    <button 
      *ngIf="accountid"
      class="filter-button go-button"
      (click)="updateAccountid()"
      >
      Go
    </button>
    <button 
      *ngIf="accountid"
      class="reset-button"
      (click)="resetAccountid()"
      >
      Reset
    </button>
  </div>
</div>

<!-- Location -->
<div class="filter-container">
  <div class="filter-input-label">
    <label for="filter-location">
      Location
    </label>
  </div>
  <div class="filter-row">
    <select
      id="filter-location"
      class="filter-input"
      tabindex="1007"
      [(ngModel)]="location"
      >
      <option 
        selected="true" 
        style='display: none'
        >
      </option>
      <option
        *ngFor="let loc of locationData; let i = index;"
        [value]="loc.Location"
        >{{ loc.Location }}
      </option>
    </select>
    <button 
      *ngIf="location"
      class="filter-button go-button"
      (click)="updateLocation()"
      >
      Go
    </button>
    <button 
      *ngIf="location"
      class="filter-button reset-button"
      (click)="resetLocation()"
      >
      Reset
    </button>
  </div>
</div>
  
<!-- Category -->
<div class="filter-container">
  <div class="filter-input-label">
    <label for="filter-category">
      Category
    </label>
  </div>
  <div class="filter-row">
    <select
      id="filter-category"
      tabindex="1008"
      [value]="categoryid"
      (change)="getSubcategoryData($event); updateCategoryId($event)">
      <option 
        selected="true" 
        style='display: none'
        >
      </option>
      <option
        *ngFor="let cat of categoryData; let i = index;"
        [value]="cat.CategoryId"
        >{{ cat.CategoryTitle }}
      </option>
    </select>
    <button 
      *ngIf="categoryid"
      class="reset-button"
      (click)="resetCategoryid()"
      >
      Reset
    </button>
  </div>
</div>
  
<!-- Subcategory -->
<div class="filter-container">
  <div class="filter-input-label">
    <label for="filter-subcategory">
      Subcategory
    </label>
  </div>
  <div class="filter-row">
    <select
      id="filter-subcategory"
      tabindex="1009"
      [disabled]="!categoryid"
      [value]="subcategoryid"
      (change)="updateSubcategoryId($event)"
      >
      <option 
        selected="true" 
        style='display: none'
        >
      </option>
      <option
        *ngFor="let sub of subcategoryData; let i = index;"
        [value]="sub.SubcategoryId">
        {{ sub.SubcategoryTitle }}
      </option>
    </select>
    <button 
      *ngIf="subcategoryid"
      class="reset-button"
      (click)="resetSubcategoryid()"
      >
      Reset
    </button>
  </div>
</div>

<!-- Information -->
<div class="filter-container">
  <div class="filter-input-label">
    <label for="filter-information">
      Information
    </label>
  </div>
  <div class="filter-row">
    <input
      name="text"
      tabindex="1010"
      [(ngModel)]="information"
      (keyup)="detectInformation()"
      >
    <button 
      *ngIf="information"
      class="reset-button"
      (click)="resetInformation()"
      >
      Reset
    </button>
  </div>
</div>

