<div style="display: flex; margin-left: .25vw; margin-top: .5vh;">
  <form
    [formGroup]="transactionForm"
    (ngSubmit)="submitTransaction()"
    style="justify-content: center;">

    <!-- DateOf -->
    <input
      class="sb-trans-input-box"
      type="date"
      id="date"
      formControlName="DateOf"
      tabindex="1000"
      >

    <!-- Account -->
    <select
      class="sb-trans-input-box"
      id="account"
      formControlName="AccountId"
      data-input="account"
      tabindex="1001"
      >
      <option 
        value="" 
        disabled 
        selected 
        hidden
        >Account...
      </option>
      <option
        *ngFor="let account of accountData; let i = index;"
        [value]="account.AccountId"
        >{{ account.AccountTitle }}
      </option>
    </select>

    <!-- Amount -->
    <input
      class="sb-trans-input-box"
      type="number"
      step="0.01"
      placeholder="Amount"
      id="amount"
      formControlName="Amount"
      tabindex="1002"
      >

    <!-- Location -->
    <div class="sb-trans-input-box-auto">
      <app-auto-complete
        #autocomplete
        tabindex="1003"
        [list]="locationList"
        (change)="test()"
        [placeholder]="'Location...'"
        [value]="transactionForm.controls['Location']"
        (optionOutput)="receiveLocationOption($event)"
        (textOutput)="receiveLocationText()"
        >
      </app-auto-complete>
    </div>

    <!-- Category -->
    <select
      class="sb-trans-input-box"
      id="cat"
      formControlName="CategoryId"
      #category
      tabindex="1004"
      (change)="getSubcategoryDataById($event)"
      >
      <option 
        value="" 
        disabled 
        selected 
        hidden
        >Category...
      </option>
      <option
        *ngFor="let cat of categoryData; let i = index;"
        [value]="cat.CategoryId"
        >{{ cat.CategoryTitle }}
      </option>
    </select>

    <!-- Subcategory -->
    <select
      class="sb-trans-input-box"
      id="sub"
      formControlName="SubcategoryId"
      tabindex="1005">
      <option 
        value="" 
        disabled 
        selected 
        hidden
        >Subcategory...
      </option>
      <option
        *ngFor="let sub of subcategoryData; let i = index;"
        [value]="sub.SubcategoryId"
        >{{ sub.SubcategoryTitle }}
      </option>
    </select>

    <!-- Information -->
    <textarea
      class="sb-trans-input-box-textarea"
      name="text"
      placeholder="Information"
      id="info"
      formControlName="Information"
      tabindex="1006"
      >
    </textarea>

    <!-- Submit -->
    <input
      class="btn btn-outline-success text-center m-auto"
      style="width: 100px; height: 35px; margin: auto;"
      tabindex="1007"
      type="submit"
      >

    <input
      class="btn btn-outline-secondary text-center m-auto"
      type="reset"
      style="width: 100px; height: 35px; margin: auto;"
      (click)="cancelTransaction()"
      tabindex="1008"
      value="Cancel"
      >

  </form>
</div>
