.bud-tab {
  border-collapse: collapse;
}

.col-lab-c {
  width: 15%;
  text-align: start;
  font-weight: 600;
}

.col-lab-s {
  width: 15%;
  text-align: start;
}

.col-cat {
  width: 10%;
  text-align: start;
}

.col-sub {
  width: 10%;
  text-align: start;
}

.col-bud-c {
  width: 5%;
  text-align: end;
  font-weight: 600;
}

.col-bud-s {
  width: 5%;
  text-align: end;
  font-style: italic;
}

.col-1-2 {
  width: 20%;
}

.blr {
  border-left: solid 1px;
  border-right: solid 1px;
}

.br-5 {
  border-radius: 5px !important;
}