.preset-title-button {
  text-align: start;
}

.submit-button {
  margin-left: 10px;
}

.preset-overview {
  margin-left: 3px;
  text-align: left;
  vertical-align: middle;
  display: flex;
}

.edit-cell-date {
  margin-left: 3px;
}

.overview-cell-border {
  border: solid 1px black;
}