#receipt {
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding: 2mm;
  margin: 0 auto;
  width: 80%;
  height: max-content;
  background: #FFF;
  overflow-x: hidden;
  overflow-y: hidden;


  ::selection {
    background: #808080;
    color: #FFF;
  }

  ::moz-selection {
    background: #808080;
    color: #FFF;
  }
}

// h1 {
//   font-size: 1.5em;
//   color: #222;
// }

// h2 {
//   font-size: .9em;
// }

// h3 {
//   font-size: 1.2em;
//   font-weight: 300;
//   line-height: 2em;
// }

// p {
//   font-size: .7em;
//   color: #666;
//   line-height: 1.2em;
// }

#top,
#mid,
#bot {
  /* Targets all id with 'col-' */
  border-bottom: 1px solid #EEE;
}

#top {
  min-height: 100px;
}

#mid {
  min-height: 80px;
}

#bot {
  min-height: 50px;
}

#top .logo {
  //float: left;
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
  background-size: 60px 60px;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.info {
  display: block;
  text-align: center;
  //float:left;
  margin-left: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.tabletitle {
  //padding: 5px;
  font-size: .5em;
  background: #EEE;
}

.title {
  float: right;
}

.title p {
  text-align: right;
}


td {
  padding: 5px 0 5px 15px;
  border: 1px solid #EEE
}



.service {
  border-bottom: 1px solid #EEE;
}

// Item Row Style
.item-row {
  height: 2.5vh;
}

.item-title {
  width: 50%;
  color: #666;
  padding: 0;
}

.item-quantity {
  width: 25%;
  text-align: center;
  color: #666;
  padding: 0;
}

.item-amount {
  width: 25%;
  text-align: end;
  color: #666;
  padding: 0;
}

.item-amount-edit {
  width: 75%;
  text-align: end;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.quantity {
  width: 15%;
}

.cost {
  width: 25%;
}

.total-row {
  width: 100%;
}

.new-item {
  width: 55%;
  display: inline-block;
  vertical-align: top;
  border: none;
}

.tax-total {
  width: 25%;
  text-align: end;
  color: #666;
}

.totals {
  width: 100%;
  text-align: right;
  color: #666;
  display: flex;
}

.item-input::ng-deep {
  width: 100%;
  overflow-x: hidden;
}

.item-amount {
  width: 100%;
}

.dropdown-menu::ng-deep {
  background-color: rebeccapurple;
}

ngb-highlight {
  width: 100%;
}

ngb-typeahead-window ::ng-deep {
  background-color: rebeccapurple !important;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

.dropdown-menu { 
  width: 300px;
  
  max-height: 500px;
  overflow: hidden;
}

.title-input {
  max-width: 300px;
  max-height: 500px;
}

mat-form-field {
  height: 50%
}

::ng-deep .mat-auto {
  
}

::ng-deep .cdk-overlay-pane {
  /* Do you changes here */
    min-width: 300px;
    height: 300px;
}

::ng-deep .mat-autocomplete-panel {
  height: 500px
}

::ng-deep .mat-form-field-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

::ng-deep .mat-form-field {
  width: 90%;
  height: 100%;
  border: none;
}

::ng-deep .mat-form-field-flex {
  width: 100%;
  border: solid 1px black;
  height: 100%;
  font-size: 1rem;
}

::ng-deep .mat-form-field-flex input {
 height: 100%;
}

::ng-deep .mat-input-container {
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep mat-form-field {
  width: 100%;
}

::ng-deep mat-option {
  height: 25px;
}

.item-actions {
  width: 250px;
  display: inline-block;
  justify-content: space-between;
}

.title-update {
  border: solid 3px lightgreen;
  border-radius: 10px;
  width: max-content;
}

.title-cancel {
  border: solid 3px rgb(102, 102, 102);
  border-radius: 10px;
  width: max-content;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px;
}
::ng-deep .mat-form-field-infix {
    padding:0;
    border-top: 0;
}

.input-row {
  height: 100%;
}

.title-input {
  height: 75%;
}

.add-new-item {
  cursor: pointer;
}

.tax-input {
  width: 100%;
}

.cancel-button {
  cursor: pointer;
}

.delete-button {
  cursor: pointer;
}