<div 
  *ngIf="receiptView"
  id="receipt">
  <div id="top">
    <div class="info">
      <div class="top-row">
        <h3>{{ receiptData[0].LocationTitle }}</h3>
        <h5>{{ receiptData[0].DateOf | date: 'fullDate' }}</h5>
      </div>
      <div class="info">
        <span><p>www.publix.com</p></span>
        <span><p>{{ receiptData[0].Information }}</p></span>
        <span><p>Palm Beach Gardens, FL</p></span>
      </div>
    </div>
  </div>
  <div id="bot">
    <div id="table">
      <table>
        <thead>
          <tr class="tabletitle">
            <td class="item-title">
              <h6>Item</h6>
            </td>
            <td class="item-quantity">
              <h6>Qty</h6>
            </td>
            <td class="item-amount">
              <h6>Sub Total</h6>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr 
            *ngFor="let item of receiptItemData; let r = index;"  
            class="item-row">
            <td 
              [attr.id]="'title-row-' + r"
              class="item-title"
              (click)="editTitle(r)"
              >
              <ng-container *ngIf="!(titleRow === r)">
                <p class="itemtext">
                  {{ item.ItemTitle }}
                </p>
              </ng-container>
              <ng-container *ngIf="titleRow === r || (receiptItemData[0].ItemTitle === null)">
                <div class="input-group">
                  <span 
                    class="badge bg-success me-1 mb-1 add-new-item"
                    (click)="addNewItem(item)"
                    >
                    +Item
                  </span>
                  <span 
                    class="badge bg-secondary me-1 mb-1"
                    (click)="cancelTitle()"
                    >
                    Cancel
                  </span>
                  <span 
                    class="badge bg-danger me-1 mb-1"
                    (click)="deleteItem($event)"
                    >
                    Delete
                  </span>
                </div>
                <app-item-title-auto-complete
                  #autocomplete
                  [list]="itemList"
                  [row]="r"
                  [object]="item"
                  [value]="item.ItemTitle"
                  (optionOutput)="setItemTitle($event)"
                  (textOutput)="this.test = $event"
                  >
                </app-item-title-auto-complete>
              </ng-container>
            </td>
            <td class="item-quantity">
              <p class="itemtext">
                {{ item.Quantity }}
              </p>
            </td>
            <td 
              [attr.id]="'title-row-' + r"
              class="item-amount"
              (click)="editAmount(r)"
              >
              <ng-container *ngIf="!(amountRow === r)">
                <p class="itemtext">
                  {{ item.Amount | currency: 'USD' }}
                </p>
              </ng-container>
              <ng-container *ngIf="amountRow === r || !(item.Amount)">
                <input 
                  [attr.id]="'amount-input-' + r"
                  class="item-amount-edit"
                  type="number"
                  [(ngModel)]="item.Amount"
                  (change)="editAmountValue(item)"
                  >
              </ng-container>
            </td>
          </tr>
          <tr class="total-row">
            <td class="new-item">
              <button 
                id="plus-item-button"
                (click)="insertNewItem()"
                >
                + Item
              </button>
            </td>
            <td class="tax-total">
              <div class="total-block">
                <p>Tax</p>
                <p>Total</p>
              </div>
            </td>
            <td class="totals">
              <div class="total-block">
                <ng-container *ngIf="!(editTaxMode) || !(receiptData[0].Tax === 0)">
                  <p (click)="editTax()">
                    {{ receiptData[0].Tax }}
                  </p>
                </ng-container>
                <ng-container *ngIf="(editTaxMode) || receiptData[0].Tax === null">
                  <input 
                    id="tax-input"
                    class="tax-input"
                    type="number"
                    [(ngModel)]="receiptData[0].Tax"
                    (change)="editTaxValue(receiptData[0])"
                  >
                </ng-container>
                <p>{{ receiptData[0].Amount }}</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

