<div 
  class="toolbar-container" 
  style="height: 2.55vh;"
  >
  <button 
    id="sidebar-show-accounts"
    value="accounts"
    class="sidebar-toolbar-button" 
    (click)="setSidebarView($event)"
    >Account
  </button>
  <button 
    id="sidebar-show-category" 
    value="categories"
    class="sidebar-toolbar-button" 
    (click)="setSidebarView($event)"
    >Category
  </button>
  <button 
    id="sidebar-show-subcategory"
    value="subcategories"
    class="sidebar-toolbar-button" 
    (click)="setSidebarView($event)"
    >Subcategory
  </button>
</div>
