.footer-container {
    height: 3vh; 
    width: 100vw;
    background-color: rgb(165, 165, 165);
}

.copyright-container {
    height: 3vh;
    width: 20vw;
    position: absolute;
    left: 0px;
}

.copyright {
    margin: auto;
    text-align: start;
}

.dev-button {
    position: absolute;
    right: 0;
}