<div 
  *ngIf="itemView"
  id="item">
  <div id="top">
    <div class="info">
      <div class="top-row">
        <h3>{{ itemData[0].LocationTitle }}</h3>
        <h5>{{ itemData[0].DateOf | date: 'fullDate' }}</h5>
      </div>
      <div class="info">
        <span><p>www.publix.com</p></span>
        <span><p>{{ itemData[0].Information }}</p></span>
        <span><p>Palm Beach Gardens, FL</p></span>
      </div>
    </div>
  </div>
  <div id="bot">
    <div id="table">
      <table>
        <thead>
          <tr class="tabletitle">
            <td class="item-title">
              <h6>Item</h6>
            </td>
            <td class="item-quantity">
              <h6>Qty</h6>
            </td>
            <td class="item-amount">
              <h6>Sub Total</h6>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr 
            *ngFor="let item of itemData; let r = index;"  
            class="item-row"
            >
            <!-- Item Title -->
            <td 
              [attr.id]="'title-row-' + r"
              class="item-title"
              >
              <ng-container *ngIf="!(editItemRow === r && editItemCol === 1)">
                <div 
                  class="itemtext"
                  (click)="setItemEdit(r, 1)"
                  >
                  {{ item.ItemTitle ? item.ItemTitle : 'Set Item...' }}
                </div>
              </ng-container>
              <ng-container *ngIf="(editItemRow === r && editItemCol === 1)">
                <div class="input-group">
                  <span 
                    class="badge bg-success me-1 mb-1 add-new-item"
                    (click)="addNewItem()"
                    >
                    +Item
                  </span>
                  <span 
                    class="badge bg-secondary me-1 mb-1 cancel-button"
                    (click)="cancelEdit()"
                    >
                    Cancel
                  </span>
                  <span 
                    class="badge bg-danger me-1 mb-1 delete-button"
                    (click)="deleteItemById(item.itemItemId)"
                    >
                    Delete
                  </span>
                </div>
                <!-- <app-auto-complete
                  #autocomplete
                  [list]="itemList"
                  [row]="r"
                  [object]="item"
                  [value]="item.ItemTitle"
                  >
                </app-auto-complete> -->
              </ng-container>
            </td>
            <!-- Quantity -->
            <td class="item-quantity">
              {{ item.Quantity }}
            </td>
          </tr>
          <tr class="total-row">
            <td class="new-item">
              <button 
                id="add-item-button"
                (click)="addNewItem()"
                >
                + Item
              </button>
            </td>
            <td class="tax-total">
              <div class="total-block">
                <p>Tax</p>
                <p>Total</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>