<div class="sidebar-container  scr-style-1">
  <div class="sidebar-content">
    <div
      [ngSwitch]="viewMode"
      class="sidebar-section"
      >
      <div class="sb-btn-container">
        <ng-container
          *ngFor="let item of sidebarViews; let i = index;"
          >
          <button
            class="sb-topic-btn"
            [value]="item.Title"
            [name]="item.DisplayTitle"
            [title]="item.DisplayTitle"
            (click)="setSidebarView($event)"
            >{{ item.DisplayTitle }}
          </button>
        </ng-container>
      </div>
      <hr>
      <ng-container ></ng-container>

    <ng-container *ngSwitchCase="'Transaction'">
      <ng-template [ngTemplateOutlet]="Transaction"></ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'PresetTransaction'">
      <ng-template [ngTemplateOutlet]="PresetTransactions"></ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'FilterLedger'">
      <ng-template [ngTemplateOutlet]="FilterLedger"></ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'Accounts'">
      <ng-template [ngTemplateOutlet]="Accounts"></ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'Categories'">
      <ng-template [ngTemplateOutlet]="Categories"></ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'Receipts'">
      <ng-template [ngTemplateOutlet]="Receipts"></ng-template>
    </ng-container>


  </div>

  <div class="sb-content">
    
    <ng-template #Transaction>
      <app-sidebar-transaction-input
        [accountData]="accountData"
        [categoryData]="categoryData"
        [subcategoryData]="subcategoryData"
        >
      </app-sidebar-transaction-input>
    </ng-template>
    
    <ng-template #PresetTransactions>
      <app-sidebar-preset-transactions
        [presetData]="presetData"
        [accountData]="accountData"
        [categoryData]="categoryData"
        [subcategoryData]="subcategoryData"
        [locationData]="locationData"
        >
      </app-sidebar-preset-transactions>
    </ng-template>
    
    <ng-template #FilterLedger>
      <app-sidebar-ledger-filter
        [accountData]="accountData"
        [categoryData]="categoryData"
        [locationData]="locationData"
        [yearList]="yearList"
        >
      </app-sidebar-ledger-filter>
    </ng-template>
    
    <ng-template #Accounts>
      <app-sidebar-accounts
        [accountData]="accountData"
        [accountTypeData]="accountTypeData"
        [total]="total"
        >
      </app-sidebar-accounts>
    </ng-template>
    
    <ng-template #Categories>
      <app-sidebar-categories 
        [categoryData]="categoryData"
        [subcategoryData]="subcategoryData"
        >
      </app-sidebar-categories>
    </ng-template>

    <ng-template #Receipts>
      <app-sidebar-receipts 
        >
      </app-sidebar-receipts>
    </ng-template>


    
      <!-- <ng-template #sidebarSubcategories>
      <app-sidebar-subcategories
        [categoryData]="categoryData"
        [subcategoryData]="subcategoryData"
        >
      </app-sidebar-subcategories>
      </ng-template> -->
    </div>
  </div>
  
  
</div>