/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

.hpointer {
    cursor: pointer;
}

.ts {
  text-align: start;
}

.te {
  text-align: end;
}

.br5 {
  border: solid 1px;
  border-radius: 5px;
}

// Tooltips
.tt-1 .tooltip-inner {
  background-color: rgb(250, 249, 186);
  color: black;
  opacity: 1;
  border: solid 1px black;
  border-radius: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dropdown-menu {
  max-height: 500px;
  position: relative;
}

::ng-deep .dropdown-menu.show {
  overflow: hidden !important;
}

.ngb-typeahead-window ::ng-deep {
  height: 500px !important;
  max-height: 500px !important;
  background-color: rebeccapurple;
}

