<form 
  class="example-form"
  autocomplete="off"
  (ngSubmit)="handleAutoComplete(autoControl.value)"
  >
  <mat-form-field 
    class="example-full-width inp"
    >
    <!-- (focusout)="sendOption($event.target)" -->
    <input
      id="auto-complete-input"
      type="text"
      matInput
      [placeholder]="(placeholder) ? placeholder : 'Set'"
      [formControl]="autoControl"
      [matAutocomplete]="auto"
      
      >
    <!-- <button 
      *ngIf="value"
      mat-button
      mat-icon-button 
      matSuffix 
      (click)="value = ''" 
      >
      <mat-icon>close</mat-icon>
    </button> -->
    <button
      mat-button
      mat-icon-button 
      matSuffix
      (click)="sendText()"
      >+
    </button>
    <mat-autocomplete
      class="mat-auto" 
      #auto="matAutocomplete"
      autoActiveFirstOption="true"
      [displayWith]="(getOptionText)"
      (optionSelected)="handleAutoComplete(autoControl.value)"
      >
      <mat-option 
        *ngFor="let option of filteredOptions | async" [value]="option"
        >
        {{ option.Title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
