<form 
  class="example-form"
  autocomplete="off"
  >
  <mat-form-field 
    class="example-full-width inp"
    >
    <input 
      tab-directive
      id="auto-complete-input"
      type="text"
      matInput
      [placeholder]="(placeholder) ? placeholder : null"
      [(ngModel)]="value"
      [formControl]="myControl"
      [matAutocomplete]="auto"
      (change)="sendOutput($event.target)"
      >
    <button 
      *ngIf="value"
      mat-button
      mat-icon-button 
      matSuffix 
      (click)="value = ''" 
      >
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete 
      class="mat-auto" 
      #auto="matAutocomplete"
      autoActiveFirstOption="true"
      [displayWith]="getOptionText"
      (optionSelected)="sendOutput($event.option)"
      >
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>