<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Display Title</th>
      <th>Information</th>
      <th>RouteLink</th>
      <th>Disabled</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of navbarLinks">
      <td>{{ item.Title }}</td>
      <td>{{ item.DisplayTitle }}</td>
      <td>{{ item.Information }}</td>
      <td>{{ item.LinkText }}</td>
      <td>
        <mat-slide-toggle
          [(ngModel)]="item.Enabled"
          (change)="toggleItem($event)"
          >
        </mat-slide-toggle>
      </td>
    </tr>
  </tbody>
</table>