<div style="height: 90vh; width: 100vw;">
  <div class="centered">
    <div class="row">
      <div 
        style="width: 250px;" 
        class="form-group">
        <form 
          [formGroup]="adminForm" 
          (ngSubmit)="login()" 
          autocomplete="off"
          >
          <div 
            class="form-floating" 
            style="width: 250px;"
            >
            <input 
              type="text" 
              class="form-control" 
              id="adminUserName" 
              formControlName="AdminName" 
              >
            <label for="adminUserName">
              Admin
            </label>
          </div>
          <div 
            class="form-floating" 
            style="width: 250px;"
            >
            <input 
              type="password" 
              class="form-control" 
              id="adminPassword" 
              placeholder="Password" 
              formControlName="AdminPassword"
              >
            <label for="adminPassword">
              Password
            </label>
          </div>
          <div class="btn-toolbar">
            <button 
              type="submit" 
              class="btn btn-primary text-center me-2" 
              style="width: 100px;"
              >Log In
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

